.head-container {
  display: flex;
}
.head-logo {
  padding-top: 90px;
}
.head-list {
  padding-top: 100px;
  display: flex;
  gap: 68px;
  margin-right: auto;
}
.head-li {
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(31, 21, 52, 1);
}
.head-li:hover {
  color: rgb(209, 209, 209);
}
.all {
  margin-left: auto;
}
/*========================*/

/*MAIN-1*/

.main {
  padding-top: 80px;
  padding-bottom: px;
}
.main-container {
  display: flex;
  padding-bottom: 100px;
}
.sec-1 {
  padding-top: 120px;
}
.sec-1-h2 {
  font-family: Muli, sans-serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 25px;
}
.sec-1-p {
  padding-bottom: 35px;
  font-family: Muli, sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: hsla(256, 5%, 50%, 1);
}
.btn {
  background: #458ff6;
  border: 0;
  padding: 15px 50px;
  border-radius: 56px;
  color: aliceblue;
}
.btn:hover {
  color: rgb(0, 0, 0);
}
.btn:active {
  color: #0e104e;
}
.img1 {
  margin-left: 150px;
}
/*===============================*/

.sec2-container {
  text-align: center;
}
.sec-2-h2 {
  padding-bottom: 30px;
  font-family: Muli, sans-serif;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}
.sec-2-p {
  color: rgba(125, 121, 135, 1);
  padding-top: 40px;
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 120px;
}
/*======================================*/

.big-box {
  justify-content: space-between;
  display: flex;
  padding-bottom: 50px;
}
.box1 {
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.833);
  height: 354px;
  width: 350px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding-top: 56px;
  padding-left: 45px;
}
.box-h2 {
  padding-top: 20px;
  font-family: Muli, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.box-p {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  width: 266px;
}
.btn2 {
  font-family: Muli, sans-serif;
  color: rgba(69, 143, 246, 1);
  width: 200px;
  height: 60px;
  top: 2038px;
  left: 700px;
  border-radius: 55px;
  border: 2px solid rgba(69, 143, 246, 1);
  background-color: #458ff600;
}
.btn2:hover {
  color: #8e1c1c;
}
.btn2-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 180px;
}
/*==============================================*/

/*section-4*/

.sec-4-container {
  display: flex;
  gap: 100px;
  padding-bottom: 160px;
}
.sec4-h2 {
  padding-bottom: 15px;
  font-family: Muli, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.sec-4-p {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(125, 121, 135, 1);
}
.sec-t-btn {
  font-family: Muli, sans-serif;
  color: rgba(69, 143, 246, 1);
  width: 200px;
  height: 60px;
  top: 2038px;
  left: 700px;
  border-radius: 55px;
  border: 2px solid rgba(69, 143, 246, 1);
  background-color: #458ff600;
}
.sec-t-btn:hover {
  color: #8e1c1c;
}
/*========================================*/
.sec-5-container {
  display: flex;
  padding-bottom: 180px;
}
.sec-5-h2 {
  padding-bottom: 15px;
  font-family: Muli, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.sec-5-p {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(125, 121, 135, 1);
}
.sec-5btn {
  font-family: Muli, sans-serif;
  color: #458ff6;
  border: 2px solid #458ff6;
  border-radius: 56px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 50px;
}
.sec-5btn:hover {
  color: #8e1c1c;
}
.dow-s {
  padding-left: 15px;
  margin-top: 10px;
}
/*======================================*/
.h2sar {
  font-size: 36px;
  padding-bottom: 10px;
}
.sec-6-container {
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.sec-6-box {
  border-radius: 25px;
  width: 1120px;
  height: 425px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}
.box-list {
  padding-top: 64px;
  text-align: center;
  color: #ffffff;
}
.brat {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.brat-list {
  padding-top: 35px;
  margin-left: 25px;
}
.sec-6-h2 {
  padding-bottom: 10px;
  color: #ffffff;
}
.sec6-p {
  font-family: Muli, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(237, 237, 237);
}
.brat-p {
  padding-left: 100px;
}
.strelka-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 180px;
}
/*===============================*/
.sec-7-h2 {
  font-family: Muli, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.sec-7-list-box {
  display: flex;
  justify-content: center;
  text-align: center;
}
/*===============================*/
.boxFirst {
  padding-top: 79px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.sec-8-box1 {
  width: 350px;
  height: 512px;
  top: 4596px;
  left: 240px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.833);
}
.sec8-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.sec-8-h3 {
  padding-top: 24px;
  padding-bottom: 12px;
  font-family: Muli, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 30px;
}
.sec-8-p {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 30px;
  color: rgba(125, 121, 135, 1);
  padding-bottom: 24px;
}
.sec-8-a {
  font-family: Muli;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(64, 137, 237, 1);
  padding-left: 30px;
}
.sec-8-a:hover {
  color: #8e1c1c;
}
.strelkabtn {
  padding-left: 10px;
}
.btnoxri {
  font-family: Muli, sans-serif;
  color: rgba(69, 143, 246, 1);
  width: 200px;
  height: 60px;
  top: 2038px;
  left: 700px;
  border-radius: 55px;
  border: 2px solid rgba(69, 143, 246, 1);
  background-color: #458ff600;
}
.btnoxri:hover {
  color: #8e1c1c;
}
.oxrgibtn {
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
}
/*====================================*/
.footer {
  width: 100%;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.footer-container {
  padding-top: 118px;
  padding-left: 190px;
  height: 400px;
  display: flex;
}
.p1 {
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  padding-top: 21px;
  padding-bottom: 31px;
}
.p2 {
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.fo-p2 {
  color: #ffffff;
  padding-left: 145px;
}
.fo-p3 {
  color: #ffffff;
  padding-left: 130px;
}
.fo-p4 {
  color: #ffffff;
  padding-left: 130px;
}
.fo-ul {
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.fo-li {
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.fo-li a:hover {
  color: firebrick;
}
